@import "tailwindcss";

:root {
  --border-color: #d5d6da;
  --home-background: #e5e7eb;
}

.dark {
  --border-color: rgb(66, 66, 66);
  --home-background: var(--background);
}

button,
input[type="button"] {
  @apply max-w-fit cursor-pointer;
}

.skeleton-loader {
  @apply animate-pulse bg-gray-300 dark:bg-gray-600;
}
